:root {
    --section-height: calc(100vh / 6);
}

body {
    margin: 0;
    height: 100%; 
    overflow: hidden;
}

#map-view {
    position: absolute;
    top: var(--section-height);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: var(--section-height);
}

.col {
    width: calc(var(--section-height) - 4px);
    height: calc(var(--section-height) - 4px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.fow {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: var(--section-height);
    background: lightgray;
    opacity: 0.8;
}

#top-fow {
    top: var(--section-height);
    right: 0px;
}

#bottom-fow {
    bottom: 0px;
    right: 0px;
}